@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Nunito+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.gradient__fondo {
  background: rgb(228, 163, 42);
  background: linear-gradient(149deg, rgb(228, 163, 42) 31%, rgb(186, 167, 141) 57%);
}

.gradient__fondo--pupe {
  background: rgb(228, 163, 42);
  background: linear-gradient(200deg, rgb(228, 163, 42) 31%, rgb(186, 167, 141) 57%);
}

.fondo__gradiente {
  background: rgb(193, 136, 30);
  background: linear-gradient(207deg, rgb(193, 136, 30) 31%, rgb(74, 69, 62) 57%);
}

.fondo__gradiente--pupe {
  background: rgb(193, 136, 30);
  background: linear-gradient(162deg, rgb(193, 136, 30) 31%, rgb(74, 69, 62) 57%);
}

.color__fondo {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.error__404 {
  height: 70vh;
}

html {
  font-size: 62.5%;
  font-family: "Nunito Sans", sans-serif;
  color: white;
}

/* Selectores de Etiqueta */
.h__class, h1 {
  text-align: center;
  color: #fdc022;
  font-family: "Amatic SC", cursive;
  font-size: 5rem;
}

h1 {
  margin: 50px 30px;
}

p {
  font-family: "Nunito Sans", sans-serif;
  color: #2b2c2d;
}

h2 {
  font-size: 4rem;
  font-family: "Amatic SC", cursive;
}

h3 {
  font-size: 3rem;
  font-family: "Nunito Sans", sans-serif;
}

.text__justify--p {
  text-align: justify;
}

.nav__text {
  font-family: "Amatic SC", cursive;
  color: #fbb500;
}

.nav__bg {
  background-color: #2b2c2d;
}

nav ul li a {
  text-decoration: none;
  font-size: 3.5rem;
}

.border__circulo {
  width: 100px;
  height: 100px;
  background-image: none;
  background-size: cover;
  border-radius: 55px;
}

.boton__hamburguesa {
  width: 50px;
  height: 50px;
}

/* Footer */
.pie__icon--sm {
  width: 65px;
}

.bg-color {
  color: #fdc022;
}

/* Arranca inicio */
/* Cards */
.text__color {
  color: #2b2c2d;
}

.card_section {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card_section:hover {
  box-shadow: 1px 1px 20px #2d2d2d;
}

.card__ani {
  transition: all 300ms;
}
.card__ani:hover {
  transform: scale(1.1);
}

/* Carrousel */
.carousel__ancho {
  width: 98vw;
}

.carousel__img {
  -o-object-fit: cover;
     object-fit: cover;
}

/* Quines somos*/
/* Arranca Caja Quienes */
.foto__guada {
  border-radius: 100%;
  width: 100vw;
}

.my-6 {
  margin: 55px auto;
}

/* Termina Cajas Quienes */
/* Termina quienes somos */
/* Arranca Destacados */
.acordion__quienes {
  font-size: 2rem;
}

.acordion__quienes--p {
  font-size: 1.7rem;
}

.precio {
  font-size: 2rem;
  color: #fbb500;
  font-weight: bold;
}

.precio__cou {
  font-size: 1.5rem;
  color: #2b2c2d;
}

.card__ani--des {
  transition: all 300ms;
}
.card__ani--des:hover {
  transform: scale(1.04);
}

/* Termina Destacados */
/* Arranca FAQ */
.lista__medios--pag {
  list-style: decimal-leading-zero;
  align-items: center;
}

.form-control {
  min-height: 3.3rem;
  line-height: initial;
}

.btn {
  min-height: 3.3rem;
  line-height: initial;
}

.pie__icon--md {
  width: 50px;
}

.border__maps {
  border-radius: 100%;
  height: 35vh;
  width: 93vw;
}

/* MEDIAS */
@media (min-width: 556px) {
  /* Quienes Somos */
  .foto__guada {
    width: 90vw;
  }
}
@media (min-width: 600px) {
  /* Contactanos */
  .border__maps {
    border-radius: 600px;
    height: 600px;
    width: 600px;
  }
}
@media (min-width: 650px) {
  /* Quienes Somos */
  .foto__guada {
    width: 85vw;
  }
}
@media (min-width: 769px) {
  /* Quienes Somos */
  .foto__guada {
    width: 50vw;
  }
  .border__circulo {
    height: 130px;
    width: 130px;
    border-radius: 100px;
  }
}
@media (min-width: 900) {
  .carousel__img {
    height: 85vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 992px) {
  nav ul li {
    margin: auto 40px;
  }
  .border__maps {
    width: 450px;
    height: 450px;
  }
}
@media (min-width: 1176px) {
  .border__maps {
    width: 550px;
    height: 550px;
  }
}
@media (min-width: 1300px) {
  /* Quienes Somos */
  .foto__guada {
    width: 25vw;
  }
  nav ul li {
    margin: auto 80px;
  }
  /* Contacto */
  .border__maps {
    width: 600px;
    height: 600px;
  }
}
@media (min-width: 1530px) {
  nav ul li {
    margin: auto 110px;
  }
}/*# sourceMappingURL=main.css.map */