@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Nunito+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}
/* Selectores de Etiqueta */
h1 {
    text-align: center;
    color: #f2cb05;
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    margin: 50px 30px;
}

p {
    font-family: 'Nunito Sans', sans-serif;
}

h2{
    font-size: 4rem;
    font-family: 'Amatic SC', cursive;
}
img{
    width: 100%;
}
/* Termina Selectores de Etiquetas */
/* Arranca nav */
nav {
    background: rgb(254,190,16);
    background: radial-gradient(circle, rgba(254,190,16,1) 47%, rgba(136,115,1,1) 100%);
}
    nav ul li a {
        font-size: 2rem;   
    }
/* imagen de nav logo */
.border__circulo{
    width: 100px;
    height: 100px;
    background-image: none;
    background-size: cover;
    border-radius: 55px;
}
/* Boton Hamburguesa */
.boton__hamburguesa{
    width: 50px;
    height: 50px;
}
/* Termina nav */
/* Color fondo */
.color__fondo{
    background-image: radial-gradient(rgba(234,178,93,1) 0%, rgba(40,39,39,1) 50.7% );
}
/* Arranca inicio */
/* Cards */
.text__color{
    color: white;
}
/* Carrousel */
.carousel__ancho{
    width: 90vw;
}
.carousel__img{
    object-fit: cover;
}
/* Quines somos*/
/* Arranca Caja Quienes */
.color__fondo--gua{
    background-color: #f2b705
}
.foto__pupe{
    border-radius: 100%;
    width: 100vw;
}
.foto__guada{
    border-radius:100%;
    width: 100vw;
}
.my-6{
    margin: 55px auto;
}
/* Termina Cajas Quienes */
/* Termina quienes somos */
/* Arranca Destacados */
.precio{
    font-size: 2rem;
    color: white;
}
/* Termina Destacados */
/* Arranca Contacto */
.color__fondo--con{
    background: rgb(254,190,16);
    background: radial-gradient(circle, rgba(254,190,16,1) 47%, rgba(136,115,1,1) 100%);
}
.form-control{
    min-height: 3.3rem;
    line-height: initial;
}
.btn{
    min-height: 3.3rem;
    line-height: initial;
}
.pie__icon--md{
    width: 50px;
}
.border__maps{
    border-radius: 100%;
    height: 35vh;
    width: 93vw;
}
/* Termina Contacto */
/* Arranca FAQ */
.color__faq{
    background-color: #f2b705;
}
.titulos__faq{
    color: black;
}
.lista__medios--pag{
    list-style: decimal-leading-zero;
    align-items: center;
}
/* Footer */
.pie__icon--sm{
    width: 65px;
}
/* MEDIAS */
@media (min-width:556px) {
    /* Quienes Somos */
    .foto__guada{
        width: 90vw;
    }
}
@media (min-width:600px) {
    /* Contactanos */
    .border__maps{
        border-radius: 600px;
        height: 600px;
        width: 600px;
    }
}
@media (min-width:650px) {
    /* Quienes Somos */
    .foto__guada{
        width: 85vw;
    }
    .border__maps{
        margin: auto 20px;
    }
}
@media (min-width:769px) {
    /* Carrousel */
    .border__maps{
        margin: auto 40px;
    }
    /* Termina Carrousel */
    /* Quienes Somos */
    .foto__guada{
        width: 50vw;
    }
    .border__circulo{
        height: 130px;
        width: 130px;
        border-radius: 100px;
    }
}
@media (min-width:900){
    .carousel__img{
        height: 85vh;
        object-fit: cover;
    }
}
@media (min-width:992px){
    nav ul li{
        margin: auto 40px;
    }
    .border__maps{
        margin: auto 10px;
    }
}
@media (min-width:1300px) {
    /* Quienes Somos */
    .foto__guada{
        width: 25vw;
    }
    nav ul li{
        margin: auto 80px;
    }
    /* Contacto */
    .border__maps{
        margin: auto 50px;
    }
@media (min-width:1530px) {
    nav ul li{
        margin: auto 110px;
    }
    .border__maps{
        margin: auto 100px;
    }
}