@mixin botones {
    min-height: 3.3rem;
    line-height: initial;
}
.form-control{
    @include botones;
}
.btn{
    @include botones;
}
.pie__icon--md{
    width: 50px;
}
.border__maps{
    border-radius: 100%;
    height: 35vh;
    width: 93vw;
}