/* Quines somos*/
/* Arranca Caja Quienes */
.foto__pupe{
    border-radius: 100%;
    width: 100vw;
}
.foto__guada{
    border-radius:100%;
    width: 100vw;
}
.my-6{
    margin: 55px auto;
}
/* Termina Cajas Quienes */
/* Termina quienes somos */
/* Arranca Destacados */
.precio{
    font-size: 2rem;
    color: $white;
}
/* Termina Destacados */
/* Arranca FAQ */
.lista__medios--pag{
    list-style: decimal-leading-zero;
    align-items: center;
}